*.swp
.env

ansible/*.ini
bin/leaf
leaf

opentofu/*.log
opentofu/*.tfstate
opentofu/*.tfstate.*
opentofu/*.tfvars
opentofu/*.tfvars.json
opentofu/*_override.tf
opentofu/*_override.tf.json
opentofu/.terraform.lock
opentofu/.terraform.lock.*
opentofu/.terraform.tfstate.lock.info
opentofu/.terraform/
opentofu/.terraformrc
opentofu/crash.*.log
opentofu/crash.log
opentofu/override.tf
opentofu/override.tf.json
opentofu/terraform.rc
