[defaults]
  ansible_managed = Ansible Managed: %Y-%m-%d %H:%M:%S by {uid} on {host}
  control_path_dir = /tmp/.ansible/cpath
  deprecation_warnings = false
  fact_caching = jsonfile
  fact_caching_connection = /tmp/.ansible/facts
  fact_caching_timeout = 3600
  gather_facts = no
  gathering = smart
  host_key_checking = false
  interpreter_python = auto_silent
  inventory = localdomain.ini
  local_tmp = /tmp/.ansible/tmp
  nocows = 1
  pipelining = true
  # remote_tmp = /tmp/.ansible/tmp
  ssh_args = -q -A -C -o BatchMode=yes -o ControlMaster=auto -o ControlPersist=3600 -o StrictHostKeyChecking=accept-new
